@charset "UTF-8";
* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/* Seccion Inicio */
.navbar-dark .navbar-brand {
  color: #afef20;
  font-size: 28px;
  font-family: "New Tegomin", serif;
}

.contenedor {
  background-color: azul;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "menu menu menu" "descripcion descripcion descripcion" "tituloprincipal tituloprincipal tituloprincipal" "moto auto publico" "testimonios testimonios testimonios" "sede1 auto1 publico1" "footer footer footer";
}

.nav-item a {
  color: white;
}

.dropdown-menu li {
  background-color: grey;
}

.menu {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: menu;
  background: #252e3d;
  margin: 20px;
}

.contenedor1 > .menu {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
}

.contenedor3 > .menu {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
}

.contenedor4 > .menu {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
}

.contenedor5 > .menu {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
}
.menu ul li a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 30px;
  color: white;
}

.menu ul li a:hover {
  background-color: grey;
}

.descripcion {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: descripcion;
  height: 490px;
  background-image: url(../imagenes/road1.jpg);
  background-position: center;
  opacity: 0.8;
  animation-name: movimiento;
  animation: movimiento 10s infinite;
  margin: 20px;
}
.descripcion h2 {
  font-size: 30px;
  background-color: black;
  padding: 20px;
  color: #fcf403;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-family: "Roboto", sans-serif;
  animation-name: aparecer;
  animation-duration: 15s;
}
.descripcion p {
  color: white;
  font-family: "New Tegomin", serif;
  font-size: 30px;
  width: 100%;
  text-align: center;
  margin-top: 250px;
  padding: 30px;
}

@keyframes movimiento {
  from {
    background-position: bottom left;
  }
}
to {
  background-position: top right;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.tituloprincipal {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: tituloprincipal;
  text-align: center;
  padding: 100px;
}
.contenedor3 > .tituloprincipal {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
}
.tituloprincipal h1 {
  background-color: black;
  color: white;
}

#moto1 img {
  transition: transform 0.2s;
  /* Animation */
}

#auto img {
  transition: transform 0.2s;
}

#bus {
  margin-bottom: 30PX;
}
#bus img {
  transition: transform 0.2s;
  /* Animation */
}

#moto1:hover img {
  transform: scale(1.1);
  background-color: grey;
}

#auto:hover img {
  transform: scale(1.1);
  background-color: grey;
}

#bus:hover img {
  transform: scale(1.1);
  background-color: grey;
}

.moto h1 {
  text-align: center;
}

.sede1 h1 {
  text-align: center;
}

.auto h1 {
  text-align: center;
}

.sede2 h1 {
  text-align: center;
}

.publico h1 {
  text-align: center;
}

.sede3 h1 {
  text-align: center;
}

#moto1 {
  text-align: center;
  margin: 0px;
}

#auto {
  text-align: center;
  margin: 0px;
}

#bus {
  text-align: center;
}

.footer {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  background: #252e3d;
  display: flex;
  justify-content: space-between;
}

.contenedor1 > .footer {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
}

.contenedor3 > .footer {
  -ms-grid-row: 11;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
}

.contenedor4 > .footer {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
}

.contenedor5 > .footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
}

.btn-wsp {
  position: fixed;
  margin-top: 550px;
  margin-left: 1250px;
}

.test1 {
  width: 100px;
}

.redessociales h1 {
  color: white;
  font-size: 25px;
  text-align: center;
  margin: 10px;
}

.rrss {
  display: flex;
  margin: 10px;
  justify-content: space-between;
}

.sedes h1 {
  color: white;
  font-size: 25px;
  margin: 10px;
}

.sedes p {
  color: white;
}

.contact h1 {
  color: white;
  font-size: 25px;
  margin: 10px;
}

.contact p {
  margin: 20px;
  color: white;
  margin-right: 150px;
}

/* Sección Nosotros */
.contenedor1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "menu menu menu" "nosotros_titulo nosotros_titulo nosotros_titulo" "motivos motivos motivos" "nosotros_titulo1 nosotros_titulo1 nosotros_titulo1" "contenedorteam contenedorteam contenedorteam" "nosotros_chatea nosotros_chatea nosotros_chatea " "footer footer footer";
}

.nosotros_titulo {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: nosotros_titulo;
  text-align: center;
  padding: 100px;
}
.nosotros_titulo h1 {
  background-color: black;
  color: white;
}

.nosotros_titulo1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: nosotros_titulo;
  text-align: center;
  padding: 100px;
  margin-bottom: 50px;
}
.nosotros_titulo1 h1 {
  background-color: black;
  color: white;
}

.nosotros_chatea {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: nosotros_chatea;
  width: 50%;
}

.motivos {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: motivos;
  display: flex;
  flex-wrap: nowrap;
  margin: 100px;
}

#moti {
  width: 70px;
  height: 70px;
}

.opciones {
  width: 25%;
}

.contenedorteam {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: contenedorteam;
}

.contenedorteam {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  padding: 30px;
  margin: auto;
}

.jumbotron {
  margin-left: 45%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.jumbotron h1 {
  font-weight: 200;
}

.display-4 {
  font-size: 25px;
}

.footer {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  background: #252e3d;
}

.contenedor1 > .footer {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
}

.contenedor3 > .footer {
  -ms-grid-row: 11;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
}

.contenedor4 > .footer {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
}

.contenedor5 > .footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
}

/* Sección Cursos*/
.contenedor3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "menu menu menu" "curso_title curso_title curso_title" "motocicleta1 automovil publico1" "dropdown-cursos dropdown-cursos dropdown-cursos" "tituloprincipal tituloprincipal tituloprincipal" "curso_motorcycle curso_motorcycle curso_motorcycle" "curso_title2 curso_title2 curso_title2" "curso_auto curso_auto curso_auto" "curso_title3 curso_title3 curso_title3" "card-group card-group card-group" "footer footer footer";
}

.card-group {
  -ms-grid-row: 10;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: card-group;
}
.card-group .card {
  margin: 60px;
}
.card-group .card img {
  width: 200px;
}

.curso_title {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: curso_title;
  text-align: center;
  padding: 100px;
}
.curso_title h1 {
  background-color: black;
  color: white;
}

.curso_title2 {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: curso_title2;
  text-align: center;
  padding: 100px;
}
.curso_title2 h1 {
  background-color: black;
  color: white;
}

.curso_title3 {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: curso_title3;
  text-align: center;
  padding: 100px;
}
.curso_title3 h1 {
  background-color: black;
  color: white;
}

.titopciones {
  grid-area: titopciones;
}

.motocicleta1 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: motocicleta1;
}

.automovil {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: automovil;
}

.dropdown-cursos {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  padding: 30px;
  grid-area: dropdown-cursos;
}

.curso_motorcycle {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  display: flex;
  flex-direction: row;
  grid-area: curso_motorcycle;
  justify-content: center;
}
.curso_motorcycle .hijo1 {
  padding: 100px;
}
.curso_motorcycle .hijo1 img {
  width: 500px;
}
.curso_motorcycle .hijo2 {
  padding: 20px;
}
.curso_motorcycle .hijo3 {
  padding: 20px;
}

.curso_auto {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: curso_auto;
  display: flex;
  flex-direction: row;
  margin: 100px;
  justify-content: center;
}
.curso_auto .dos_hijo1 {
  padding: 20px;
}
.curso_auto .dos_hijo2 {
  padding: 20px;
}
.curso_auto .dos_hijo1 {
  padding: 20px;
}

/* Sección Contacto*/
.contenedor4 {
  display: grid;
  grid-template-areas: "menu menu menu" "formcontacto formcontacto formcontacto" "container container container" "sedestitulo sedestitulo sedestitulo" "mapa mapa mapa" "footer footer footer";
}

.formulario {
  grid-area: formulario;
  padding: 30px;
  justify-content: center;
}

.mapa {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: mapa;
  padding: 30px;
  margin: 80px;
}

.formcontacto {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: formcontacto;
  text-align: center;
  padding: 100px;
}

.formcontacto h1 {
  background-color: black;
  color: white;
}

.sedestitulo {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: sedestitulo;
  text-align: center;
  padding: 100px;
}

.sedestitulo h1 {
  background-color: black;
  color: white;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: container;
  border-radius: 5px;
  background-color: #aff047;
  padding: 20px;
  border-top: 300px;
}

/* Seccion servicios corporativos */
.contenedor5 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "menu menu menu" "corpo corpo corpo" "mosaico mosaico mosaico" "footer footer footer";
}
.contenedor5 .corpo {
  text-align: center;
  padding: 100px;
}
.contenedor5 .corpo .corpo__titulo {
  background-color: black;
  color: white;
}

.corpo {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: corpo;
}

.corpo_img {
  margin: 20%;
  grid-area: corpo_img;
}
.corpo_img img {
  justify-content: center;
}
.corpo_img p {
  font-size: 30px;
  padding: 30px;
}

.mosaico {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: mosaico;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  background-repeat: no-repeat;
  align-content: center;
  justify-content: center;
}

.mosaico div {
  width: 30vw;
  height: 40vh;
}

.mosaico .m1 {
  background: url("/imagenes/mosaico1.PNG");
  background-position: center center;
  background-size: cover;
}

.mosaico .m2 {
  background: url("/imagenes/mosaico3.PNG");
  background-position: center center;
  background-size: cover;
}

.mosaico .m3 {
  background: url("/imagenes/mosaico2.PNG");
  background-position: center center;
  background-size: cover;
}

.mosaico .m4 {
  background: url("/imagenes/mosaico4.PNG");
  background-position: center center;
  background-size: cover;
}

.mosaico .m5 {
  background: url("/imagenes/mosaico5.PNG");
  background-position: center center;
  background-size: cover;
}

.mosaico .m6 {
  background: url("/imagenes/mosaico6.PNG");
  background-position: center center;
  background-size: cover;
}

/* Media queries para hacer el index responsive */
@media screen and (min-width: 780px) and (max-width: 1024px) {
  .contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "menu menu" "descripcion descripcion" "tituloprincipal tituloprincipal" "moto moto" "auto auto" "testimonios testimonios" "sede1 auto1" "publico1" "footer footer";
  }

  .descripcion h2 {
    font-size: 20px;
  }
  .descripcion p {
    color: white;
    font-family: "New Tegomin", serif;
    font-size: 25px;
    width: 100%;
    text-align: center;
    margin-top: 35%;
    padding: 10px;
  }
  .descripcion .tituloprincipal {
    width: 100px;
  }
  .descripcion .tituloprincipal h1 {
    background-color: black;
    color: white;
  }

  .motivos {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: motivos;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
  }

  .opciones {
    margin-left: 30%;
    width: 40%;
  }
  .menu {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .descripcion {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .tituloprincipal {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .footer {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .footer {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
}
@media screen and (min-width: 400px) and (max-width: 780px) {
  .contenedor {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "menu" "descripcion" "tituloprincipal" "moto" "auto" "publico" "testimonios" "sede1" "auto1" "publico1" "footer";
  }

  .descripcion h2 {
    font-size: 20px;
  }
  .descripcion p {
    color: white;
    font-family: "New Tegomin", serif;
    font-size: 18px;
    width: 100%;
    text-align: center;
    margin-top: 35%;
    padding: 10px;
  }
  .descripcion .tituloprincipal {
    margin: 0;
  }
  .descripcion .tituloprincipal h1 {
    background-color: black;
    color: white;
    width: 50%;
    padding: 0;
  }
  .descripcion .publico {
    display: block;
    width: 100%;
  }

  .motivos {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: motivos;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
  }

  .opciones {
    margin-left: 30%;
    width: 40%;
  }

  .contenedor3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "menu" "curso_title" "motocicleta1" "automovil" "publico1" "dropdown-cursos" "tituloprincipal" "curso_motorcycle" "curso_title2" "curso_auto" "curso_title3" "card-group" "footer";
  }
  .menu {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }

  .contenedor3 > .menu {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .descripcion {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .tituloprincipal {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }

  .contenedor3 > .tituloprincipal {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .footer {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }

  .contenedor3 > .footer {
    -ms-grid-row: 13;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .footer {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }

  .contenedor3 > .footer {
    -ms-grid-row: 13;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }

  .card-group {
    -ms-grid-row: 12;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }

  .curso_title {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }

  .curso_title2 {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }

  .curso_title3 {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }

  .motocicleta1 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .automovil {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }

  .dropdown-cursos {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }

  .curso_motorcycle {
    -ms-grid-row: 8;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }

  .curso_auto {
    -ms-grid-row: 10;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
}