*{
    margin:0;
    font-family: 'Roboto', sans-serif;
    
      
  }

/* Seccion Inicio */

 //menu 
.navbar-dark .navbar-brand{
    color:#afef20;
    font-size: 28px;
    font-family: 'New Tegomin', serif;
}
  
//contenedor usando grid
  .contenedor{
      
      background-color:azul;
    
  
      display:grid;
      grid-template-columns: repeat(3,1fr);
      grid-template-areas: "menu menu menu"
                           "descripcion descripcion descripcion"
                           "tituloprincipal tituloprincipal tituloprincipal"
                           "moto auto publico"
                           "testimonios testimonios testimonios"
                           "sede1 auto1 publico1"
                           "footer footer footer"
            
                           
  
  }
  
  .nav-item a {
      color:white;
  }
  
  .dropdown-menu li{
      background-color: grey;
  }
  
  .menu{
      
      grid-area:menu;
      background: #252e3d;
      margin:20px;
      ul{
          li{

             a{

                text-decoration: none;
                text-transform: uppercase;
                padding:30px;
                color:white;

             }

          }
      }

  }
  

  .menu ul li a:hover{
  
      background-color: grey;
  
  }
  
  //seccion descripcion 
  .descripcion{
      grid-area:descripcion;
      height:490px;
      background-image: url(../imagenes/road1.jpg);
      background-position: center;
      opacity:0.8;
      animation-name: movimiento;
      animation: movimiento 10s infinite;
      margin:20px;
      

        h2{
            font-size: 30px;
            background-color: black;
            padding:20px;
            color:#fcf403;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-align: center;
            font-family: 'Roboto', sans-serif;
            animation-name:aparecer;
            animation-duration: 15s;
        }

        p{
            color:white;
            font-family: 'New Tegomin', serif;
            font-size: 30px;
            width:100%;
            text-align: center;
            margin-top: 250px;
            padding:30px;
        }
  }
  

  //movimiento imagen
  @keyframes movimiento{
      from{
          background-position:bottom left;
      }
  
      }to{
      background-position: top right ;
  
  }

//movimiento texto 
  @keyframes aparecer{
      0%{opacity: 0;}
      100%{opacity:1}
  }
  

  
  
  .tituloprincipal{
      grid-area: tituloprincipal;
      text-align: center;
      padding:100px;

      h1{
        background-color: black;
        color:white;

      }
      
  }
  
 
  #moto1{

    img{

        transition: transform .2s; /* Animation */
    }
  }

  #auto{

    img{
        transition: transform .2s; 
    }
  }

  #bus{

    img{

        transition: transform .2s; /* Animation */

    }
    margin-bottom: 30PX;
  }

  #moto1:hover{
      img{
        transform: scale(1.1);
        background-color: grey;
        

      }

  }

  #auto:hover{
    img{
      transform: scale(1.1);
      background-color: grey;

    }

}

#bus:hover{
    img{
      transform: scale(1.1);
      background-color: grey;

    }

}

  .moto h1{
      text-align: center;
      
  }

  .sede1 h1{
    text-align: center;
    
}
  
 
  .auto h1{
      text-align: center;  
  }

  .sede2 h1{

    text-align: center; 

  }
  
  .publico {
     
      
  }
  
  .publico h1{
      text-align: center;
      
  }

  .sede3 h1{
    text-align: center;
}
  
  #moto1{
      text-align: center;
      margin: 0px;
  }
  
  #auto{
  
      text-align: center;
      margin: 0px;
  }
  
  #bus{
  
      text-align: center;
      
  }
  
  

  .footer{
  
      grid-area: footer;
      background: #252e3d;
      display:flex;
      justify-content: space-between;
     
    
  }

  .btn-wsp{

    position: fixed;
    margin-top: 550px;
    margin-left:1250px;
      
  }

  .test1{
      width:100px;
  }
  


  .redessociales h1{
      color:white;
      font-size: 25px;
      text-align: center;
      margin:10px;
  }
  
  
  .rrss{
      display:flex;
      margin:10px;
      justify-content: space-between;
  }



  
  .sedes h1{
      color:white;
      font-size: 25px;
      margin:10px;
  
  }
  
  .sedes p{
      color:white;
  }
  
  .contact h1{
  
      color:white;
      font-size: 25px;
      margin:10px;
  
  }
  
  .contact p{
      margin:20px;
      color:white;
      margin-right:150px;
  }

//Fin seccion index







  
  /* Sección Nosotros */
  
  
  .contenedor1{
      display:grid;
      grid-template-columns: repeat(3,1fr);
      grid-template-areas: "menu menu menu"
                           "nosotros_titulo nosotros_titulo nosotros_titulo"
                           "motivos motivos motivos"
                           "nosotros_titulo1 nosotros_titulo1 nosotros_titulo1"
                           "contenedorteam contenedorteam contenedorteam"
                           "nosotros_chatea nosotros_chatea nosotros_chatea "
                           "footer footer footer"
  
  }

  .nosotros_titulo{
    grid-area: nosotros_titulo;
    text-align: center;
    padding:100px;

        h1{
            background-color: black;
            color:white;
            
        }
    
  }

  .nosotros_titulo1{
    grid-area: nosotros_titulo;
    text-align: center;
    padding:100px;
    margin-bottom: 50px;

        h1{
            background-color: black;
            color:white;
            
        }
    
  }

  .nosotros_chatea{
      grid-area: nosotros_chatea;
      width:50%;
  }

  .motivos{
    grid-area: motivos;
    display:flex;
    flex-wrap: nowrap;
    margin:100px;

}

#moti{

    width:70px;
    height: 70px;

}


.opciones {
    width: 25%;
}

.contenedorteam{
    grid-area:contenedorteam;
}

.contenedorteam{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width:1200px;
    padding:30px;
    margin:auto;

}

.jumbotron{

    margin-left:25%;
    margin-top:50px;
    margin-bottom: 50px;
    h1{
       
    }
    
}

.display-4{
    font-size: 25px;
}

  .footer{
  
      grid-area:footer;
      background: #252e3d;
    
  }
  
  
  

  /* Sección Cursos*/
  .contenedor3{

      display:grid;
      grid-template-columns: repeat(3,1fr);
      grid-template-areas: "menu menu menu"
                           "curso_title curso_title curso_title"
                           "motocicleta1 automovil publico1" 
                           "dropdown-cursos dropdown-cursos dropdown-cursos"
                           "tituloprincipal tituloprincipal tituloprincipal"
                           "curso_motorcycle curso_motorcycle curso_motorcycle"
                           "curso_title2 curso_title2 curso_title2"
                           "curso_auto curso_auto curso_auto"
                           "curso_title3 curso_title3 curso_title3"
                           "card-group card-group card-group"
                           "footer footer footer"

   
  
  }

  .card-group{
      grid-area:card-group;

      .card{
          margin:60px;
          img{
              width:200px;
              
          }
      }
  }

  .curso_title{
    grid-area: curso_title;
    
    text-align: center;
    padding:100px;

    h1{
        background-color: black;
        color:white;
    }
    
}

 .curso_title2{
    grid-area: curso_title2;

    text-align: center;
    padding:100px;

    h1{
        background-color: black;
        color:white;
    }


 }

 .curso_title3{
    grid-area: curso_title3;

    text-align: center;
    padding:100px;

    h1{
        background-color: black;
        color:white;
    }


 }
  
  .titopciones{
  
      grid-area: titopciones;
      
  
  }
  
  .motocicleta1{
  
      grid-area:motocicleta1;
      
  }
  
  .automovil{
      grid-area:automovil;
  
  }
  
  .dropdown-cursos{
      padding:30px;
      grid-area:dropdown-cursos
      
  }

  .curso_motorcycle{
      
      display:flex;
      flex-direction: row;
      grid-area:curso_motorcycle;
      justify-content: center;

      .hijo1{
          padding:100px;
          img{
            width:500px;
        }

      }

      .hijo2{

        padding:20px;

      }

      .hijo3{

        padding:20px;

        
      }
      
  }




  .curso_auto{

    grid-area: curso_auto;
    display:flex;
    flex-direction: row;

    margin:100px;
    justify-content: center;



    .dos_hijo1{

        padding:20px;


    }

    .dos_hijo2{

        padding:20px;


    }

    .dos_hijo1{

        padding:20px;


    }




      
  }


  
  /* Sección Contacto*/
  .contenedor4{
      display:grid;
      grid-template-areas: "menu menu menu"
                           "formcontacto formcontacto formcontacto"
                           "container container container"
                           "sedestitulo sedestitulo sedestitulo"
                           "mapa mapa mapa"
                           "footer footer footer";
  
  } 
  
  .formulario{
  
      grid-area: formulario;
      padding:30px;
      justify-content: center;
  
  }
  
  .mapa{
  
      grid-area:mapa;
      padding:30px;
      margin:80px;
  }

  .formcontacto{
    grid-area: formcontacto;
    text-align: center;
    padding:100px;
    
}

.formcontacto h1{
    background-color: black;
    color:white;
    
}

.sedestitulo{
    grid-area: sedestitulo;
    text-align: center;
    padding:100px;
    
}

.sedestitulo h1{
    background-color: black;
    color:white;
}



/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
 
  input[type=submit]:hover {
    background-color: #45a049;
  }
  

  .container {
    grid-area: container;
    border-radius: 5px;
    background-color: #aff047;
    padding: 20px;
    border-top:300px;
  }


  
  
  
  /* Seccion servicios corporativos */

  
  
  .contenedor5{

    .corpo{

        text-align: center;
        padding:10px;
    
        .corpo__titulo{
            background-color: black;
            color:white;
        }
    
    
        
       }


      
  
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: "menu menu menu"
                         "videocorporate videocorporate videocorporate"
                         "jumbotron jumbotron jumbotron"
                          "footer footer footer"

  }

  .corporatepadre{
      display:flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  .videocorporate{
      
      iframe{
          width:800;
          margin-left:80%;
      }
  }







  





  

  
  
  /* Media queries para hacer el index responsive */
  
  @media screen and (min-width: 780px)and (max-width:1024px) {

    .contenedor{
        
    
        display:grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: "menu menu"
                             "descripcion descripcion"
                             "tituloprincipal tituloprincipal"
                             "moto moto"
                             "auto auto"
                             "testimonios testimonios"
                             "sede1 auto1" 
                             "publico1"
                             "footer footer"


    }

   

   
    .descripcion{

        h2{
            font-size: 20px;
        }

        p{

            color:white;
        font-family: 'New Tegomin', serif;
        font-size: 25px;
        width:100%;
        text-align: center;
        margin-top: 35%;
        padding:10px;

        }

        .tituloprincipal {

            width:100px;
        
           h1{
            background-color: black;
            color:white;
           }
            
        }
         
    }

    //seccion nosotros responsive

    .motivos{
        grid-area: motivos;
        display:flex;
        flex-wrap: wrap;
        margin:10px;
    
    }

    .opciones {
        margin-left:30%;
        width: 40%;
    }
    
      
         
  }
  
  
  @media screen and (min-width: 400px)and (max-width:780px) {
  
     //seccion inicio responsive
    .contenedor{
        
        

        display:grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-areas: "menu"
                             "descripcion"
                             "tituloprincipal"
                             "moto"
                             "auto"
                             "publico"
                             "testimonios"
                             "sede1" 
                             "auto1" 
                             "publico1"
                             "footer"


    }

    .descripcion{
        

        h2{
            font-size: 20px;
        }

        p{

        color:white;
        font-family: 'New Tegomin', serif;
        font-size: 18px;
        width:100%;
        text-align: center;
        margin-top: 35%;
        padding:10px;

        }

        .tituloprincipal {
            margin:0;

           
        
           h1{
            background-color: black;
            color:white;
            width:50%;
            padding:0;
           }
            
        }

       .publico {
           display:block;
           width:100%;
           
        }

        
         
    }

    .contenedorteam{
       
        .cardteam{
            margin-left: 20%;

        }
    
    }


    //seccion nosotros responsive

    .motivos{
        grid-area: motivos;
        display:flex;
        flex-wrap: wrap;
        margin:10px;
    
    }

    .opciones {
        margin-left:30%;
        width: 40%;
    }
    

    //seccion cursos responsive
    .contenedor3{
        
        

        display:grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-areas: "menu"
                           "curso_title"
                           "motocicleta1"
                           "automovil" 
                           "publico1" 
                           "dropdown-cursos"
                           "tituloprincipal"
                           "curso_motorcycle"
                           "curso_title2"
                           "curso_auto"
                           "curso_title3"
                           "card-group"
                           "footer"

    }



    //seccion contacto responsive

    .container{
        margin-left:10%;
        margin-right:10%;
    }
}



   


   

   
      



  
  
  